body{
  overflow-y: hidden;
}

@media screen and (min-width:480px){
  h3{
    text-align:center;
    margin-top:15%;
    margin-bottom: 10vh;
    font-size:50px;
  }
  .abt1 img{
    float:left;
    width:35%;
    margin-bottom:10vh;
    border-radius: 10px;
  }
  .abt1 p{
    float:right;
    width:60%;
    margin-top:0.5vh;
  }
  .about2{
    float:left;
  }
  .about3{
    float:left;
  }
  .about4{
    float:left;
  }
  .team{
    margin-left:8vh;
    margin-right:8vh;
    text-align:justify;
  }
}
@media screen and (min-width:1025px){
  h3{
    text-align:center;
    margin-top:10%;
    margin-bottom: 10vh;
  }
  .abt1 img{
    float:left;
    width:20%;
    margin-bottom:10vh;
    border-radius: 20px;
  }
  .abt1 p{
    float:right;
    width:78%;
    margin-top:8vh;
  }
  .about2{
    float:left;
  }
  .about3{
    float:left;
  }
  .about4{
    float:left;
  }
  .team{
    margin-left:15vh;
    margin-right:15vh;
    text-align:justify;
  }
}
